.card-wrapper{
    display: flex;
    border: 1px solid black;
    justify-content:space-between;
    padding: 20px;
    border-radius: 5px;
    height: 10rem;
}

.desc{
    display: grid;
    margin-left: 5rem;
}

.price-display{
    margin: 0px 0px 0px auto;
}

img{
    width: 10rem;
    object-fit: contain;
}

a{
    text-decoration: none;
}

.selected{
    border: 2px solid green;
}